.navbar{
    position: fixed;
    width:100%;
    display: flex;
    justify-content: space-between;
    top: 0;
    padding: 5px 20px ;
    z-index: 999;
}
.navbar .logo{
    padding-top: 10px;
    transition: transform 0.3s ease-in-out;
    img{
        filter:drop-shadow( 0 7px 1px var(--main-color));
        width: 8rem;
        height: 3rem;
    }
}
.menu{
    display: flex;
    background-color: var(--main-color);
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 7px 1px var(--main-color);
    padding: .4rem;
    border-radius: 1rem;
    backdrop-filter: blur(5px);
}
.menu a{
    text-decoration: none;
    padding: .4rem;
    transition: transform 0.3s ease-in-out;
    color: var(--background-color);
    font-weight: bold;

}
.navbar .logo:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.menu a:hover{
    box-shadow: var(--secondary-color) 0px 7px 10px 0px;
    background-color: var(--secondary-color);
    color: #f6f7f9;
    border-radius: .7rem;
}
.usuario{
    display: flex;
    justify-content: center;
    align-items: center;
}

.usuario button{
    cursor: pointer;
    border: 0;
    background-color: var(--main-color);
    font-size: 15px;
    transition: all 0.5s ease;
    padding: 10px;
    border-radius: 50px;
    color: var(--background-color);
    font-weight: bold;
}
.usuario button:hover{
    box-shadow: var(--secondary-color) 0px 7px 10px 0px;
    background-color: var(--secondary-color);
    color: #f6f7f9;
}
.usuario button:active{
    background-color: var(--main-color);
}